*{
   margin: 0;
   padding: 0;
}

.wrapper {
   max-width: 1000px;
   margin: 0 auto;
}

.dot{
   display: inline-block;
   width: 10px;
   height: 10px;
   border-radius: 50%;
   border: 3px solid blueviolet;
   margin: 5px;
   transition: all 0.5s;
   cursor: pointer;
}

.dot:hover {
   background: blue;
}

.description {
   font-size: 20px;

}

.field{
   display: flex;
   justify-content: space-between;
   padding: 20px;
}